.about__container {
  margin-top: 4rem;
  display: flex;
}

/* IMAGE */
.about__me-image > img {
  min-height: 190%;
  min-width: 190%;
}

.about__me-image {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__me {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__content {
  padding-left: 5rem;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .about__me-image {
    width: 17rem;
    height: 17rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .about__content {
    text-align: center;
    padding-left: 1.5rem;
  }

  .about__me-image {
    width: 11rem;
    height: 11rem;
  }

  .about__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
